# Config
# ========================================================================================

# IMPORTANT: Set the URL of your site.
# Set to https://<username>.github.io when hosting on GitHub Pages
# (unless you are using a custom domain).
url: https://fotonics.github.io/

# IMPORTANT: Set The "base URL" of your site.
# When your site sits in a subdirectory, set to /<name of directory>
# (with leading /, but without the < >).
# Use the empty string '' otherwise.
# For GitHub project sites, this is usually the name of the project,
# e.g. `/hydejack`.
baseurl: '/fishingkm'

# Language of your content in 2-letter code, e.g.: en, de.
# You may also provide a location, e.g.: en-us, de_AT.
lang:  ru

# The title of your blog. Used in the sidebar and the browser tab.
title:  FishingKm

# A short description (~150 chars) of the page used for the meta description tag.
# Can use markdown, but no more than one paragraph (enforced by `>`)
description:           >
  "Рыбалка на Канале имени Москвы".
  **Hydejack** is your presence on the web, featuring a blog, portfolio, and resume.

# A shorter description for the sidebar.
tagline:               >
  "Рыбалка на Канале им. Москвы".
  Open `_config.yml` to edit this text.

# A list of keywords for your blog
keywords:              []

# A (square) logo for your site.
# If provided, it will be shown at the top of the sidebar.
# It also used by the `jekyll-seo-tag` plugin.
logo:                  /assets/icons/logo.jpg

# This should be the same author as first entry in `_data/authors.yml`.
author:
  name:                <firstname> <lastname>
  email:               <mail@domain.tld>
  # Used by `jekyll-seo-tag`:
  # twitter:             <username>

# Add links to the sidebar.
menu:
  - title:             Где ловим
    url:               /hydejack/
  - title:             Как ловим
    url:               /hyde/
  - title:             Справочник
    url:               /docs/
  - title:             О сайте
    url:               /about/

# Add links to the footer.
# Typically you'll want to link to your cookie- or privacy policy (if appliable), etc..
legal:
 - title:             Impress
   url:               /impress/
 - title:             Cookies Policy
   url:               /cookies-policy/

# This text will appear in a `<small>` tag in the footer of every page.
copyright:            <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/"><img alt="Лицензия Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/2.0/80x15.png" style="display:inline-block;" /></a><br />Все материалы предоставлены по <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/">лицензии Creative Commons «Attribution-NonCommercial» («Атрибуция — Некоммерческое использование») 2.0 Generic</a> © 2019. Все права защищены.

# Format of the permalinks
permalink:             /:categories/:year-:month-:day-:title/

# Pagination configuration (used by the `blog` layout)
paginate:              3
paginate_path:         /page-:num/


# Customizaton
# ========================================================================================

# Sidebar image and theme color of the site.
accent_image:          https://live.staticflickr.com/65535/49087964611_4eef7cbffc_h.jpg  #/assets/img/sidebar-bg.jpg  <a data-flickr-embed="true" href="https://www.flickr.com/photos/185579046@N07/49087964611/in/dateposted-public/" title="DSC01966"><img src="https://live.staticflickr.com/65535/49087964611_4eef7cbffc_h.jpg" width="1600" height="1200" alt="DSC01966"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
accent_color:          rgb(141, 99, 7)

# This is used for the `theme-color` meta tag,
# which changes the background color of the browser UI in certain browsers.
# Defaults to `accent_color`.
theme_color:           rgb(25,55,71)

# The string encoding which fonts to fetch from Google Fonts.
# See: <https://hydejack.com/docs/configuration/>
google_fonts:          Roboto+Slab:400|Noto+Sans:400,400i,700,700i

# The text font. Expects a string that is a valid CSS font-family value.
# To change font-weight, see _sass/variables.scss
font:                  Noto Sans, Helvetica, Arial, sans-serif

# The font used for headings. Expects a string that is a valid CSS font-family value.
# To change font-weight, see _sass/variables.scss
font_heading:          Roboto Slab, Helvetica, Arial, sans-serif

defaults:
  - scope:
      path:            hyde
    values:
      accent_color:    rgb(38,139,210)
      accent_image:
        background:    rgb(32,32,32)
        overlay:       true

  # `jekyll-seo-tag` will mark collection outputs as `BlogPosting`,
  # but we want them to be `WebPage`s:
  - scope:
      type:            projects
    values:
      seo:
        type:          WebPage
  - scope:
      type:            featured_categories
    values:
      seo:
        type:          WebPage
  - scope:
      type:            featured_tags
    values:
      seo:
        type:          WebPage


# 3rd Party Integrations
# ----------------------------------------------------------------------------------------

# Set your Google Analytics id to receive `pageview` events.
# To remove Google Anaylics from your page, remove the line below.
# google_analytics:      UA-XXXXXXXX-X

# Setting a disqus shortname will enable the comment section on
# pages with `comments: true` in the front matter.
# disqus:                <disqus_shortname>

# Setting a tinyletter username will enable the newsletter subscription box.
# tinyletter:            <tinyletter_username>

# Hydejack Settings
# ----------------------------------------------------------------------------------------
# These settings are specific to Hydejack.

hydejack:
  # Настройка порядка размещения дополнительного контента в сообщениях блога
  post_addons:         [about, newsletter, related, random]

  # Настройка порядка размещения дополнительного контента на страницах проекта
  project_addons:      [about, newsletter, other]

  # Если вы не используете шрифты Google, установите значение true.
  no_google_fonts:     false

 # Установите значение true, если вы не хотите показывать значок с указанием внешних ссылок
  no_mark_external:    false

  # Установите значение true, если сторонние плагины не работают с динамически загруженными страницами
  no_push_state:       false

  # Установите значение ' true`, если вы хотите отключить ящик (drawer)
  no_drawer:           false

 # Установите значение 'true`, чтобы предотвратить использование` hy-img' (ленивая загрузка изображений).
  no_img:              false

  # Установите значение 'true', если вы не хотите, чтобы части css были встроены в <head/>
  # Это значительно увеличит скорость сборки сайта!
  no_inline_css:       false

  # Установите значение true, если вы не собираетесь изменять цвет акцента на каждой странице.
  # Это увеличит скорость сборки сайта!
  no_page_style:       false

  # Блоки кода и таблицы "ломают" макет, охватывая всю доступную ширину.
  # Установите это значение в true, если вы хотите, чтобы они были такой же ширины, как и другие материалы.
  no_break_layout:     true

  # Установите значение true, если вы не хотите выставлять свое резюме и проекты
  # в машиночитаемых форматах.
  no_structured_data:  true

  # Вы можете установить это значение в 'true', если вы не хотите устанавливать мета-тег `theme-color,
  # Это влияет только на метатег, а не на цвет, указанный в манифесте приложения.
  no_theme_color:      true

  # Установите значение 'true' при построении с параметром ' --lsi` 
  use_lsi:             false

  # При использовании Google Analytics установите значение true для отображения баннера уведомления о cookie.
  # Если этот параметр включен, данные, связанные с пользователем, не будут храниться до тех пор, пока пользователь не даст свое согласие.
  cookies_banner:      true

  # Установите значение "true", если вы хотите добавить ссылку" Powered by Hyde jack " в нижнем колонтитуле.
  advertise:           true

  # Note that dark mode only works in the PRO version of Hydejack.
  dark_mode:
    # Установите значение "true", чтобы всегда использовать темную тему.
    always:            false

    # Установите значение "true", чтобы использовать темную тему, основанную на местном времени посетителей.
    dynamic:           true
    sunrise:           6
    sunset:            18

    # Установите значение true, чтобы посетители могли переключаться между светлым и темным режимами.
    icon:              true

  # ⚡️ DANGER ZONE ⚡️
  # ----------------
  # This is an _experimental_ feature.
  # Используйте, только если вы знаете, что такое сервисные работники и как они могут повлиять на ваш сайт!
  offline:
    enabled:           true
    cache_version:     1


# Collections
# ========================================================================================

collections:
  featured_categories:
    permalink:         /:name/
    output:            true

  featured_tags:
    permalink:         /tag-:name/
    output:            true

  projects:
    permalink:         /projects/:path/
    output:            true


# File inclusion/exclusion
# ========================================================================================

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - node_modules
  - package.json
  - package-lock.json
  - webpack.config.js
  - "*.gemspec"
  - _js
  - _plugins
  - .sass-cache
include:
  - LICENSE.md
  - .well-known


# Plugins
# ========================================================================================

plugins:
  - jekyll-default-layout
  - jekyll-feed
  - jekyll-optional-front-matter
  - jekyll-paginate
  - jekyll-readme-index
  - jekyll-redirect-from
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-titles-from-headings
  - jekyll-replace-img

# Theme
# ---------------------------------------------------------------------------------------

# theme: jekyll-theme-hydejack
# remote_theme: qwtel/hydejack@gem

# SEO Tag
# ---------------------------------------------------------------------------------------

# Where you proof that you own this site (used by jekyll-seo-tag)
# google_site_verification: <verification-id>
# -- or --
# webmaster_verifications:
#   google:              <verification-id>
#   bing:                <verification-id>
#   alexa:               <verification-id>
#   yandex:              <verification-id>

# Used for Twitter cards
# twitter:
#   username:            <shortname>

# Used for Facebook open graph
# facebook:
#   app_id:              <id>
#   publisher:           <id>
#   admins:              <id>

# Used on index and about sites
# social:
#   name:                <firstname> <lastname>
#   links:
#     - https://twitter.com/<username>
#     - https://github.com/<username>


# Other Plugins
# ---------------------------------------------------------------------------------------

optional_front_matter:
  remove_originals:    true

readme_index:
  remove_originals:    true
  with_frontmatter:    true

relative_links:
  collections:         true

titles_from_headings:
  strip_title:         true
  collections:         true
  
replace_img:
  re_img:              <img\s*(?<attrs>.*?)\s*/>
  re_ignore:           (re|data)-ignore
  replacement:         |
    <hy-img root-margin="512px" %{attrs}>
      <noscript><img data-ignore %{attrs}/></noscript>
      <span slot="loading" class="loading"><span class="icon-cog"></span></span>
    </hy-img>

kramdown:
  footnote_backlink:   '&#x21a9;&#xfe0e;'
  math_engine:         mathjax
  math_engine_opts:
    preview:           true
    preview_as_code:   true

compress_html:
  comments:            ["<!-- ", " -->"]
  clippings:           all
  endings:             all
  ignore:
    envs:              [development]

sass:
  style:               compressed
