{% comment %}
<!--
Используя "предварительную загрузку", чтобы рендеринг страницы не блокировался.
Заполните `href'. Возможно, вам придется настроить `as " и "onload" / "rel", в зависимости от содержимого.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<!--
Резервный вариант в случае, если JavaScript не включен.
Заполните `href'. Возможно, вам придется настроить "rel".
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}
